<p style="color: green"><%= notice %></p>
<div>
 <%= link_to "Back to categories", categories_path, class: "btn btn-primary" %>
<h1>Expenditures</h1>
</div>
<div id="expenditures">
<div class="category-name">
<p> Category Icon:
<%= @category.icon%>
Category Name:
<%= @category.name%>
</p>
<p>Total Amount:$<%= @total_amount%> </p>
</div>
  <% @expenditures.each do |expenditure| %>
    <%= render expenditure %>
  <% end %>
</div>

<%= link_to "Add New expenditure", new_category_expenditure_path, class: "btn btn-primary"%>
