<p style="color: green"><%= notice %></p>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
 <div id="categories">
  <a href = "/categories/<%= category.id %>/expenditures" >
    <%= render category %>
 <p> Total amount:<%= category.total_funds %> </p>
  <% end %>
  </div>
</div>

<%= link_to "Add New category", new_category_path %>
